* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#wrapper {
    background-color: #fff;
    width: 100%;
    font-size: 1em;
    /* By moving this out of body, the browser CSS does not equal the em unit */
}

#hi-lo {
    list-style: list-style-type;
    margin: 10;
    padding: 10;
	font-size: 1.3em;
    text-align: center;
    vertical-align: top;
}

#hi-lo>li {
    display: inline-block;
    width: 45%;
    /* Browser rounding errors force this down */
    text-align: center;
    vertical-align: top;
}

#hi-lo #conditions {
    width: 90%;
    /* Browser rounding errors force this down */
}
